.criarPergunta {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #010a36;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.barraLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
}

.barraLogo > img {
    width: 60px;
    height: 60px;
}

.barraEsquerda {
    width: 15%;
    margin-top: 20px;
    margin-right: 5px;
    height: 10%;
}

.barraDireita {
    width: 15%;
    margin-top: 20px;
    margin-left: 5px;
    border: none; 
    height: 10%;
}

.criarPergunta > h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.criarPergunta-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 400px;
}

.criarPergunta-entrada > input {
    width: 80%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #16194e77;
    border-radius: 10px;
    border: none 1px;
}

.criarPergunta-entrada > input::placeholder {
    color: white;
}

.criarPergunta-entrada > input:focus {
    border: 0 none;
    outline: 0;
}

.criarPergunta-entrada > textarea {
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 80px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-left: 20px;
    resize: none;
    width: 50%;
    background-color: #16194e77;
    border: 1px none;
    border-radius: 20px;
    resize: none;
    
}

.criarPergunta-entrada > textarea::placeholder {
    color: white;
}

.criarPergunta-entrada > textarea:focus {
    border: 0 none;
    outline: 0;
}

.criarPergunta button {
    border: none;
    border-radius: 30px ;
    padding: 15px;
    background: linear-gradient(1turn, #7c3aed, #06b6d4);
    cursor: pointer;
    margin-top: 50px;
}